<form>
  <mat-form-field  style="width: 20%;">
    <mat-label>Buscar Carta</mat-label>
    <input type="text"
           aria-label="Number"
           matInput
           [formControl]="buscadorControl"
           [matAutocomplete]="auto"
           (ngModelChange)="actualizarListaCartas(buscadorControl.value)" >
    <mat-autocomplete #auto="matAutocomplete">
      @for (carta of opcionesBusqueda; track carta) {
        <mat-option
          [value]="carta.name"
          (click)="seleccionarCarta(carta)"
          [routerLink]="['/detalles']"
          
          style="background-color: #fff; font-size: 18px; padding: 5px 10px;"
        >
        <img
              [src]="getSrc(carta)[0]"
              alt="{{ carta.name }}"
            />
          <span>{{ carta.name }}</span>
        </mat-option>      }
    </mat-autocomplete>
  </mat-form-field>
</form>