<div class="carta-container">
  <div class="carta-imagen">
    <img
      [src]="carta?.image_uris?.normal || carta?.card_faces?.[0]?.image_uris?.normal || 'https://via.placeholder.com/250x350?text=No+Image'"
      [alt]="carta?.name"
    />
  </div>

  <div class="carta-info">
    <h2 class="carta-nombre">{{ carta?.name }}</h2>
    <div class="carta-texto" [innerHTML]="textoHTML ?? '<p>Sin descripción disponible.</p>'"></div>

    <div class="carta-acciones">
      <div class="inventario">
        
      <button class="btn-inv" (click)="disminuir()">−</button>
      <input type="number" class="cantidad" (change)="actualizar()" [(ngModel)]="cantidad" />
      <button class="btn-inv" (click)="aumentar()">+</button>
      <button *ngIf="cantidad!=cantidadOriginal" class="btn-actualizar" (click)="deshacer()">Deshacer</button>
   
  </div>
</div>
